{% extends current_admin_base %}{% load spicy_admin sk navigator %}{% load url from future %}

{% block title %}{% trans "Edit" %} {{ form.instance.title }}{% endblock %}
{% block status_title %}<i class="icon-pencil"></i> {{ form.instance.title }}{% endblock status_title %}
{% block status_stats %}
<a class="pull-right" href="{% url 'feedback:admin:view-pattern' form.instance.pk %}" target="_blank"><i class="icon-eye-open icon-2x"></i></a>
{% endblock status_stats %}

{% block content %}
<div class="container-fluid hpadded">
  <div class="row-fluid">
    <div class="span12">
      <div class="box">
        <div class="box-content">
	  {% if help_text %}
	  <pre>
	    {{ help_text|safe }}
	  </pre>
	  {% endif %}
	  
          <form name="edit_{{ app.name }}" class="form-horizontal fill-up validatable" method="post" action="." autocomplete="off"
		enctype="multipart/form-data">{% csrf_token %}

            <div class="row-fluid">
              <ul class="padded separate-sections">
		{{ form.as_ul }}
	      </ul>           
            </div>
            
	    <div class="form-actions">
	      {% captureas delete_url %}{{ app.name }}:admin:delete{% endcaptureas %}
	      <a class="btn btn-red" href="{% url delete_url form.instance.pk %}">{% trans "Delete" %}</a>

	      <div class="pull-right">
		<button type="submit" class="btn btn-blue" name="save" onclick="document.edit_{{ app.name }}.submit(); return true;">{% trans "Save changes" %}</button>
	      </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}{% include 'autocomplete_light/static.html' %}{% endblock %}
